bg-color = #ffffff
line-height = 20px

body
  padding 50px
  font-size 14px
  font-family "Helvetic Neue", Helvetica, Arial
  background-color bg-color
  background url('../images/gulp-2x.png') 90% 90% fixed no-repeat
  background-size 120px

a
  color #00B7FF

h1
  line-height line-height
  transition 0.5s all ease
  color #479eff

#title
  font-size: 24px

h2
  line-height line-height

