<!DOCTYPE html>
<!--[if IE 8]><html lang="ja" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja" class="no-js"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
@@include('head.html')
</head>
<body>
@@include('header.html')

<section id="banner">
  <div class="inner">
    <header>
      <h2><%= projectName %></h2>
    </header>
    <p id="title">Congratulations!<br> You've generated awesome site.</p>
  </div>
</section>

<script src="scripts/main.js"></script>
</body>
</html>
