doctype html
| <!--[if IE 8]><html class='no-js lt-ie9'> <![endif]-->
| <!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
  meta(charset='utf-8')
  title <%= _.slugify(projectName) %>
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='keywords', content='')
  meta(name='description', content='')
  meta(name='twitter:site', content='')
  meta(name='twitter:card', content='')
  meta(property='og:title', content='')
  meta(property='og:type', content='')
  meta(property='og:description', content='')
  meta(property='og:url', content='')
  meta(property='og:image', content='')
  meta(property='og:site_name', content='')
  link(rel='stylesheet', href='styles/style.css')
  //<script src="bower_components/modernizr/modernizr.js"></script>
body
  #wrapper
    h1 Hello <%= projectName %>!
    span#title
      | this is awesome site!
  script(src='scripts/main.js')
| </html>
